.App {
  text-align: center;
}

#quote {
  margin: 0 auto;
  text-align: center;
  padding: 15vw;
  background-color: bisque;
}

#subdivquote {
  border: 6px dashed #C2DDFF;
  margin-bottom: 5vh;
  padding: 2vw; 
}

#text {
  font-size: 2em;
}

#author {
  font-size: 1.1em;
  font-style: italic;
  display: flex;
  justify-content: flex-end;
}

p:last-of-type{
  display: flex;
  justify-content: flex-end;
}

#newquote {
  padding: 10px;
  color: lightblue;
}

button {
  font-size: 1.1em;
  display: block;
  background:lightblue;
  min-width: 10vw;
  margin: 0 auto;
  margin-bottom: 2vh;
}

a {
  display: block;
}